/*------------------------------------*\
    #LAYOUTS
\*------------------------------------*/

.site-content {
	display: block;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	text-align: left;
	padding-left: $base-spacing-unit-sm;
	padding-top: $base-spacing-unit * 4;
		@include md {
		padding-left: $base-spacing-unit;
	}
}

.comment-respond, .widget, .entry {
	background-color: $color-grey-lightest;
	overflow: hidden;
	margin: 0 $base-spacing-unit-sm $base-spacing-unit-sm 0;
	padding: $base-spacing-unit-sm;

	@include md {
		margin: 0 $base-spacing-unit $base-spacing-unit 0;
		padding: $base-spacing-unit-lg;
	}
}

.entry-header {
width: 100%;
display: inline-block;
}

.entry-footer {
width: 100%;
display: inline-block;
}


/*------------------------------------*\
    ##Layout 1 Column
\*------------------------------------*/
.layout-1c {

	.content-area {
		width: 100%;
	}

	.sidebar__primary {
		width: 100%;
	}

}





/*------------------------------------*\
    ##Layout 2 Column Left
\*------------------------------------*/
.layout-2c-l {

	.content-area {
		@extend .grid-item;
		@extend .md-2-3;
	}

	.sidebar__primary {
		@extend .grid-item;
		@extend .md-1-3;
	}

}





/*------------------------------------*\
    ##Layout 2 Column Right
\*------------------------------------*/
.layout-2c-r {

.site-content {
    direction:rtl;
    text-align:left;

    	.content-area {
        direction:ltr;
        text-align:left;
        @extend .grid-item;
        @extend .md-2-3;
    }

	.sidebar__primary {
        direction:ltr;
        text-align:left;
        @extend .grid-item;
        @extend .md-1-3;
    }
}

}