// /*------------------------------------*\
//     #TYPOGRAPHY
// \*------------------------------------*/

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  @include font-size(56px);
  font-weight: 3300;
  letter-spacing: -0.02em;
}

h2 {
  @include font-size(45px);
  font-weight: 300;
}

#site-description, h3 {
  @include font-size(34px);
  font-weight: 300;
}

h4 {
  @include font-size(24px);
  font-weight: 300;
}

h5 {
  @include font-size(20px);
  font-weight: 400;
  letter-spacing: 0.02em;
}

h6 {
  @include font-size(16px);
  font-weight: 300;
  letter-spacing: 0.04em;
}


h1, h2, h3, h4, h5, h6 {

  a {
    text-decoration: none;
    font-weight: inherit;
    color: inherit;

    &:visited {
      color: inherit;
    }

    &:hover,
    &:focus,
    &:active {
      color: $grey-500;
      text-decoration: none;
    }
  }
}


/**
 * Styles for HTML elements
 */

body {
    font-family: $font-body;
}

p {
  @include font-size($base-font-size);
  font-weight: 400;
  letter-spacing: 0.04em;
  margin-bottom: $base-spacing-unit;
}

blockquote {
  @include typo-blockquote();
  margin: 0 $base-spacing-unit;
}

dt {
  font-weight: 700;
}

.wp-caption-text {
  @include typo-caption();
}

.entry-meta {
  @include typo-menu($colorContrast:true);
}

.menu-item {
  @include typo-menu();
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

address {
  margin: 0 0 $base-spacing-unit;
}



abbr,
acronym {
  border-bottom: 1px dotted $color-grey-ui;
  cursor: help;
}

mark,
ins {
  background: $yellow-100;
  text-decoration: none;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

