/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
	color: $color-links;
	text-decoration: none;
  font-weight: 500;
  transition: color $base-transition-speed linear;

	&:visited {
		color: $color-links-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color-links-hover;
	}
}

p {
a {
  display: inline-block;
  border-bottom: 1px dashed;
}
}

