/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

h1 {
  @include typo-display-3();
}

h2 {
  @include typo-display-2();
}

#site-description, h3 {
  @include typo-display-1();
}

h4 {
  @include typo-headline();
}

h5 {
  @include typo-title();
}

h6 {
  @include typo-subhead();
}


h1, h2, h3, h4, h5, h6 {

	a {
		text-decoration: none;
		font-weight: inherit;
		color: inherit;

		&:visited {
			color: inherit;
		}

		&:hover,
		&:focus,
		&:active {
			color: inherit;
			opacity: 0.8;
		}
	}
}

/**
 * Styles for HTML elements
 */

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  @include typo-display-3($colorContrast:true);
  font-size: 0.6em;
}

p {
  @include typo-body-1();

  margin: 0 0 16px 0;
}

blockquote p {
  @include typo-blockquote();
}

mark {
  background-color: $color-grey-light;
}

code {
	background-color: $color-grey-light;
}

dt {
  font-weight: 700;
}

.wp-caption-text {
	@include typo-caption();
}

.entry-meta {
	@include typo-body-2($colorContrast:true);
}

.menu-item {
	@include typo-menu();
}


.menu-link {
position: fixed;
display: block;
top: 0;
left: 0;
background: #000;
background: rgba(0,0,0,0.7);
font-size: 10px;
z-index: 10;
width: 2em;
height: auto;
padding: 2.1em 1.6em;
}
