/*------------------------------------*\
    #LAYOUTS
\*------------------------------------*/

// .site-container {
//   @extend .grid;
// 	max-width: 1400px;
// 	margin: 0 auto;
// 	padding-left: $base-spacing-unit-sm;
// 	padding-top: $base-spacing-unit * 4;
// 		@include md {
// 		padding-left: $base-spacing-unit;
// 	}
// }

// #sidebar-subsidiary {
//   @extend .grid;
//   padding-left: $base-spacing-unit-sm;
//     @include md {
//     padding-left: $base-spacing-unit;
//   }

//   .widget {
//     @extend .grid-item;
//     @extend .md-1-3;
//   }
// }

// .comment-respond, .widget, .entry {
// 	background-color: $color-grey-lightest;
// 	overflow: hidden;
// 	margin: 0 $base-spacing-unit-sm $base-spacing-unit-sm 0;
// 	padding: $base-spacing-unit-sm;

// 	@include md {
// 		margin: 0 $base-spacing-unit $base-spacing-unit 0;
// 		padding: $base-spacing-unit-lg;
// 	}
// }

// .entry-header {
// width: 100%;
// display: inline-block;
// }

// .entry-footer {
// width: 100%;
// display: inline-block;
// }


// ------------------------------------*\
//     ##Layout 1 Column
// \*------------------------------------
// .layout-1c {

// 	.content-area {
// 		width: 100%;
// 	}

// 	#sidebar-primary {
// 		width: 100%;
// 	}

// }





// /*------------------------------------*\
//     ##Layout 2 Column Left
// \*------------------------------------*/
// .layout-2c-l {

// 	.content-area {
// 		@extend .grid-item;
// 		@extend .md-2-3;
// 	}

// 	#sidebar-primary {
// 		@extend .grid-item;
// 		@extend .md-1-3;
// 	}

// }





// /*------------------------------------*\
//     ##Layout 2 Column Right
// \*------------------------------------*/
// .layout-2c-r {

// .site-container {
//     direction:rtl;
//     text-align:left;

//     	.content-area {
//         direction:ltr;
//         text-align:left;
//         @extend .grid-item;
//         @extend .md-2-3;
//     }

// 	#sidebar-primary {
//         direction:ltr;
//         text-align:left;
//         @extend .grid-item;
//         @extend .md-1-3;
//     }
// }

// }























// .comment-respond, .loop-pagination, .loop-nav {
// margin: 0 0 16px;
// padding: 0;
// border: 0;
// }



@include lg {
.custom-background #container > .wrap {
margin-top: 40px;
}

.main {
  padding-top: 40px;
}



.loop-meta, .entry, .entry:last-of-type {
padding: 30px 40px 15px;
margin-bottom: 40px;
}

.breadcrumbs, .comment-respond, .loop-pagination, .loop-nav, .widget {
  margin-bottom: 40px;
}

#sidebar-primary {
width: 33.33%;
max-width: 100%;
display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left; /* 3 */
  vertical-align: top; /* 4 */
}

.layout-2c-l .content-area, .layout-2c-r .content-area {
width: 66.66%;
display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  text-align: left; /* 3 */
  vertical-align: top; /* 4 */
}
}

.widget {
  padding: 0;
}

.widget-title {
  padding: 0;
}

.comment-respond {
  @include shadow-z1();
  box-sizing: border-box;
  background-color: #fff;
}

.comment-form {
  //padding: 0 1.5rem 1.5rem;
  }

#comments {
  @include shadow-z1();
  box-sizing: border-box;
  background-color: #fff;
  //padding-bottom: 0;

  .depth-1 {
    &> article > .comment-meta {
      text-align: left;

      &> .avatar {
          float: left;
          margin-right: 1.5rem;
          margin-left: 0;
        }
      }
  }
}

.comment-list {
  //padding-right: 1.5rem;
  //padding-left: 1.5rem;
}

li.comment, li.ping {
clear: both;
}

li.ping, .comment-content {
border: 0;
background: $grey-100;
border-radius: 2px;
position: relative;
//padding-bottom: 1px;
}

li.ping:before, .comment-content:before {
position: absolute;
top: -20px;
width: 0;
height: 0;
border-right: 13px solid transparent;
border-bottom: 26px solid #f5f5f5;
border-left: 13px solid transparent;
content: "";
}

.comment.odd > article > .comment-content:before {
right: 15px;
}

.comment.odd > article > .comment-meta {
text-align: right;
}

.comment.odd > article > .comment-meta > .avatar {
float: right;
//margin-left: 1.5rem;
//margin-right: 0;
}

.comment-reply-link, .comment-reply-login {
  //margin-bottom: 1.5rem;
  border-radius: 0 0 2px 2px;
}
















  .site-container {
    @include padding-space();
    @include md {
        max-width: 1400px;
        min-height: initial;
        display: block;
        font-size: 0;
        text-align: left;
        margin: 0 auto;
    }
    >* {
      @include font-size($base-font-size, false);
    }
  }

  body {
    overflow-y: scroll;
  }

.comment-form, .loop-meta, .widget, .entry, .entry:last-of-type {
  border-radius: $base-radius;
  @include padding-space();
  @include margin-space(n n $base-spacing-unit-sm);
  @include shadow-z1();
  background-color: #fff;
}
