/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
	color: $color-links;
	text-decoration: none;

	&:visited {
		color: $color-links-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color-links-hover;
	}
}

p {
a {
  font-weight: bold;
}
}