/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  background-color: $btn-bg;
  border: 0;
  border-radius: $base-radius;
  color: $btn-text;
  cursor: pointer;
  padding: $base-spacing-unit-sm $base-spacing-unit;
  width: auto;
  display: inline-block;
  outline: 0;
  transition: all $base-transition-speed ease-in-out;

  &:hover {
  background-color: $btn-bg-hover;
}
  &:focus, &:active {
  background-color: $btn-bg-active;
}

}

.form-submit {
  margin: 0;
}






.entry-terms a {
display: inline-block;
vertical-align: baseline;
line-height: 1;
margin: 0 .125em;
background-color: $color-grey-ui;
border-color: $color-grey-ui;
background-image: none;
padding: .6em .8em;
color: rgba(0,0,0,.6);
border-radius: .2857rem;
transition: background .2s ease;
line-height: 1;
font-weight: 500;
color: $grey-600;
}

.entry-terms a {
    //@extend .btn-sm;
    margin-left: 1em;
position: relative;
border-radius: 0 $base-radius $base-radius 0;
margin: 0 .125em;
padding: .6em 1.2em;
@include font-size(12px, false);

&:hover {
background-color: darken($color-grey-ui, 10);
border-color: darken($color-grey-ui, 10);
&:before {
  background-color: darken($color-grey-ui, 10);
  }
}

&:before {
position: absolute;
-webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
-ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
transform: translateY(-50%) translateX(50%) rotate(-45deg);
top: 50%;
right: 100%;
content: '';
background-color: $color-grey-ui;
background-image: none;
width: 1.56em;
height: 1.56em;
transition: background .2s ease;
}
  &:after {
position: absolute;
content: '';
top: 50%;
left: -.25em;
margin-top: -.25em;
background-color: #fff!important;
width: .5em;
height: .5em;
border-radius: 500rem;
}
}



