/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    color: $btn-text;
    background-color: $btn-bg;
    border-radius: $base-radius;
    @include typo-button();
    text-decoration: none;
    text-align: center;
    line-height: $base-spacing-unit-lg;
    height: $base-spacing-unit-lg;
    padding: 0 $base-spacing-unit;
    margin: 0;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
    overflow: hidden;
    transition-property: all;
    transition-duration: .3s;

    &::-moz-focus-inner {
      border: 0;
    }

    &:hover {
        background-color: $btn-bg-hover;
    }

    &:focus:not(:active) {
        background-color: $btn-bg-active;
    }

    &:active {
        background-color: $btn-bg-active;
    }



}

.btn-sm {
    @extend .btn;
    @include typo-button-sm();
    border-radius: $base-radius / 2;
    line-height: $base-spacing-unit;
    height: $base-spacing-unit;
    padding: 0 $base-spacing-unit-sm;
}


.entry-terms a {
    @extend .btn-sm;
}