/*------------------------------------*\
    #CODE
\*------------------------------------*/

pre {
  background: $grey-800;
  border: 1px solid $grey-900;
  font-family: Consolas, Monaco, "Andale Mono", "DejaVu Sans Mono", monospace;
  @include font-size(15px);
  margin-bottom: $base-spacing-unit;
  max-width: 100%;
  overflow: auto;
  border-radius: $base-radius;
  padding: 3% 10% 3% 5%;
  color: $grey-50;
  position: relative;
  tab-size: 4;
}



code,
kbd,
tt,
var {
  font-family: Consolas, Monaco, "Andale Mono", "DejaVu Sans Mono", monospace;
  @include font-size(15px);
}

.form-allowed-tags {
  background-color: $grey-50;
  color: $grey-700;
  border-radius: $base-radius;
  @include padding-space();
}
