/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

.breadcrumbs {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: $grey-100;
  border-radius: $base-radius;
  cursor: default;

  &>span {
  display: inline-block;
  }
  
  a {
  text-decoration: none;
  color: $grey-600;
  }
  
  .sep {
    padding: 0 5px;
    color: $grey-500;
  }
  
  .trail-end {
    font-weight: bold;
    color: $grey-700;
    
  }
}