/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

.breadcrumbs {
  padding: 8px 15px;
  @include margin-space(n n $base-spacing-unit-sm);
  list-style: none;
  background-color: $grey-100;
  border-radius: $base-radius;
  cursor: default;

  @include sm-only {
    margin-top: $base-spacing-unit-sm;
  }
  &>span {
  display: inline-block;
  }

  a {
  text-decoration: none;
  color: $grey-600;
  }

  .sep {
    padding: 0 5px;
    color: $grey-500;
  }

  .trail-end {
    font-weight: bold;
    color: $grey-700;

  }
}


// .breadcrumbs {
// height: 40px;
// display: flex;
// align-items: center;
// padding: 0 16px;
// margin-bottom: 16px;
// }
