/*------------------------------------*\
    #CODE
\*------------------------------------*/

pre {
  background: $grey-800;
  font-family: "Courier 10 Pitch", Courier, monospace;
  @include font-size(15px);
  margin-bottom: $base-spacing-unit;
  max-width: 100%;
  overflow: auto;
  padding: $base-spacing-unit;
  color: #fff;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  @include font-size(15px);
  background: $grey-800;
  color: $grey-300;
}
