/*------------------------------------*\
    #ARTICLES
\*------------------------------------*/

.loop-meta {
  background-color: $color-primary;
}

h1.loop-title {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.3);
}

.loop-description {
  color: #fff;
}


