/*------------------------------------*\
    #MENUS
\*------------------------------------*/

.menu__primary {
  z-index: 5;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: $color-primary-dark;
  color: $grey-50;
  -webkit-transform: translate(-250px,0);
  transform: translate(-250px,0);
  overflow-y: auto;
}

.menu__primary.open {
-webkit-transform: translate(0,0);
transform: translate(0,0);
}

.menu__primary--items {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu-item {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #fff;
  padding: 0;
  position: relative;

  a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    transition: background-color .2s ease-out;
    white-space: nowrap;
    height: 60px;
    padding: 17px 20px;
    line-height: 1.4;

    &:hover{
      background-color: rgba(216, 216, 216, 0.5);
    }
  }
}

.menu-item-has-children > a:after {
    content: $plus-circle;
    @include font-icon();
    color: $grey-500;
  right: 5%;
  top: 36%;
  font-size: .8em;

  display: inline-block;
font: normal 10px/1 FontAwesome;
position: absolute;
vertical-align: text-bottom;
}

.menu-item-has-children > a.active:after {
  content: $minus-circle;
  }

.sub-menu {
  margin: 0;
}
.menu-toggle {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 20px;
  font-size: 11px;
  display: inline-block;
  transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;

  span {
    position: relative;
    display: block;
    padding-right: 20px;
  }

  span, span:before, span:after {
    background-color: #fff;
    width: 100%;
    height: 2px;
    transition: all 0.4s;
  }

  span:before, span:after {
    position: absolute;
    top: -.55em;
    content: " ";
  }

  span:after {
    top: .55em;
  }

}

.open .menu-toggle span {
  background: transparent;

  &:before {
    transform: rotate(45deg) translate(.5em, .4em);
  }

  &:after {
    transform: rotate(-45deg) translate(.4em, -.3em);
  }
}

.menu-toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-toggle:focus:not(:active) {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.menu-toggle:active {
  background-color: rgba(255, 255, 255, 0.4);
}

  .sub-menu {
    background-color: #fff;
    float: left;
    border-radius: $base-radius;

    display: inline-block;
    min-width: 124px;
    width: 100%;
    //margin: 0 0 0 -1px;
    position: absolute;
    top: 60px;
    left: -999em;
    z-index: 99999;
    opacity: 0;
    border: 1px solid $color-grey-ui;
    //@include shadow-z1();
    transition: opacity 0.2s ease-out;

    a {
      color: $color-text;
      padding: 0 20px;
      font: inherit;
      font-weight: 400;
      letter-spacing: 0.04em;
      height: auto;
      line-height: 50px;
      &:hover, &:focus {
       // background-color: $grey-200;
      }
    }
  }

.sub-menu.active{
      left: auto;
      opacity: 1;
      }

  .sub-menu li {
    border: 0;
    display: block;
    height: auto;
    line-height: 1.2;
  }

.sub-menu .sub-menu.active {
top: 0;
position: relative;
@include md {
  position: absolute;
  }
}

/* Small menu */
.menu-toggle {
  display: none;
}

@include sm-only {
  .site-title {
    font-size: 2em;
  }
  .site-description {
    font-size: 1em;
  }

  .menu-toggle,
  .menu__primary.toggled .nav-menu {
    display: inline-block;
  }
}
@include md{
  .menu__primary {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    transform: translate(0,0);
    transition: none;
    overflow-y: visible;
  }

  .menu__primary--items {
    max-width: $site-width;
    margin: 0 auto;
    @include padding-space(0 $base-spacing-unit-sm);
  }

  .sub-menu {
    width: auto;
    @include sm-only {
    border-left: 0;
    border-right: 0;
  }
    }

    .menu-item {
    border: none;
    display: inline-block;
  }

.sub-menu .menu-item-has-children.active > ul {
  left: 100%;
  margin-left: 0;
  top: 0;
}

}

