/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

#footer {

  a {
    color: inherit;
  }
}

.site-info {
line-height: 50px;
color: rgba(255, 255, 255, 0.9);
background-color: rgba(51, 51, 51, 0.2);

a {
    color: inherit;
  }
}

.site-footer {
    display: block;
    margin: 0;
    width: 100%;
    text-align: left;
    background-color: $color-primary;
}

    .sidebar__subsidiary {
    @extend .grid;
    display: flex;
    flex-wrap: wrap;
    @include padding-space($base-spacing-unit-sm n n);
        .widget {
          display: inline-block;
          *display: inline;
          display: flex;
          margin: 0;
          text-align: left;
          vertical-align: top;



          > * {
            background-color: rgba(51, 51, 51, 0.2);
            color: #fff;
          }

          .widget-title {
            background-color: rgba(51, 51, 51, 0.5);
          }

        }
    }

.sidebar-col-1 {
    .widget {
    }
}





.sidebar-col-2 {
    .widget {
        @extend .sm-1-2;
    }
}




.sidebar-col-3 {
    .widget {
        @extend .md-1-3;
    }
}


.entry-footer span, .entry-footer .entry-published {
margin-right: $base-spacing-unit;
&:before {
  @include font-icon();
  margin-right: 5px;
}

span {
  margin-right: 0;
}
}


span.entry-author:before {
  content: $user;
}

.entry-published:before {
  content: $calendar;
}

span.comments-link:before {
  content: $comments;
}
