/*------------------------------------*\
    #MENUS
\*------------------------------------*/

#menu-primary, .main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

.main-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;


    li:hover > ul {
      left: auto;
    }
  }
  li {
    float: left;
    position: relative;

    &:hover > a {
    }
  }
  a {
    display: block;
    text-decoration: none;
  }
}

.sub-menu {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
  background-color: #fff;

  ul {
    left: -999em;
    top: 0;
  }

  a {
    width: 200px;
  }

  .menu-item-has-children:hover > ul {
  left: 100%;
}
}



/* Small menu */
.menu-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu-toggle,
  #menu-primary.toggled .nav-menu {
    display: block;
  }

  .menu-item-has-children:hover > ul {
      display: block;
      position: relative;
      top: 0;
      padding-left: 10px;
      left: 0;
    }

.sub-menu {
    .menu-item-has-children:hover > ul {
      left: 0;
    }
}

  .menu-item {
    display: block;
    width: 100%;
  }

  .main-navigation ul {
    display: none;
  }
}




a.page-numbers,
span.page-numbers {
  @extend .btn;
}

.pagination {
  text-align: center;
  margin: $base-spacing-unit;
  .page-numbers{
    border-radius: 0;

    &.current {
      background-color: $btn-bg-hover;
    }

    &.dots, &.dots:hover {
      background-color: transparent;
      cursor: default;
    }

    &.next, &.prev {
      @include font-icon();
    }

    &:first-child {
      margin-left: 0;
      border-top-left-radius: $base-radius;
      border-bottom-left-radius: $base-radius;
      }

    &:last-child {
      margin-left: 0;
      border-top-right-radius: $base-radius;
      border-bottom-right-radius: $base-radius;
      }
  }
}


.post-navigation {
  position: relative;
  width: 100%;
  padding: 0 $base-spacing-unit-sm $base-spacing-unit-sm 0;
  @include md {
    padding: 0 $base-spacing-unit $base-spacing-unit 0;
  }

  .nav-links {
    text-align: right;
    }
      .meta-nav {
      @include font-icon();
    }
    span {
      font-family: $font-body;
    }

    .nav-previous {
      display: inline-block;
      float: left;
      margin: 2px;
    }
    .nav-next {
      display: inline-block;
      margin: 2px;
    }


}
