/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

#footer {
  background-color: $color-secondary;
  color: #fff;
  
  a {
    color: inherit;
  }
}

.site-info {
line-height: 50px;
color: rgba(255, 255, 255, 0.8);
background-color: rgba(51, 51, 51, 0.08);

a {
    color: inherit;
  }
}

.site-footer {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}

    .sidebar__subsidiary {
    @extend .grid;

        .widget {
          display: inline-block;
          *display: inline;
          margin: 0;
          text-align: left;
          vertical-align: top;
          width: 100%;
        }
    }

.sidebar-col-1 {
    .widget {
    }
}





.sidebar-col-2 {
    .widget {
        @extend .sm-1-2;
    }
}




.sidebar-col-3 {
    .widget {
        @extend .md-1-3;
    }
}


.entry-footer span {
margin-right: $base-spacing-unit;
&:before {
  @include font-icon();
  margin-right: 5px;
}

span {
  margin-right: 0;
}
}


span.entry-author:before {
  content: $user;
}

span.entry-date:before {
  content: $calendar;
}

span.comments-link:before {
  content: $comments;
}